@import "../node_modules/prismjs/themes/prism-tomorrow";

@font-face {
  font-family: IranSanse;
  src: url(../public/Font/IRANSans.ttf);
}

body {
  background-color: #f5f5f4;
  font-family: IranSanse;
}
